<nav class="navbar navbar-expand-lg bg-light mb-3" style="z-index:100;">
  <div class="container-fluid" style="max-width: 1600px;">
    {{#if user}}
      {{#if user.isAdmin}}
        <a class="navbar-brand d-flex align-items-center gap-2" href="/admin">
      {{else}}
        <a class="navbar-brand d-flex align-items-center gap-2" href="/home">
      {{/if}}
    {{else}}
    <a class="navbar-brand d-flex align-items-center gap-2" href="/login">
    {{/if}}
      <i class="fa-solid fa-ghost text-secondary"></i>
      <h3 class="fw-bold text-secondary mb-0">Tutor</h3>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav gap-3 mb-3 mb-md-0">
        {{#if user}}
          {{#if user.isAdmin}}
            <li class="nav-item">
              <a class="nav-link" href="/admins" role="button">使用者清單</a>
            </li>
          {{else}}
            {{#if user.isTeacher}}
              <li class="nav-item">
                <a class="nav-link" href="/teachers/{{user.id}}" role="button">{{user.name}}</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/users/{{user.id}}" role="button">{{user.name}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/teachers/create" role="button">成為老師</a>
              </li>
            {{/if}}
          {{/if}}
        {{else}}
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="/register" role="button">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="/login" role="button">Sign In</a>
          </li>
        {{/if}}
      </ul>
      
      <div class="ms-auto d-flex flex-row align-items-center gap-3">
      {{#if user}}
        {{#if user.isTeacher}}
          <p class="mb-0">hello ! {{user.name}} Teacher</p>
        {{else}}
          <p class="mb-0">hello ! {{user.name}} Classmate</p>
        {{/if}}
        <form action="/logout" method="post" class="">
          <button class="btn btn-outline-danger" type="submit">Log out</button>
        </form>
      {{/if}}
      </div>
    </div>
  </div>
</nav>