<div class="mb-3">
  <label for="courseDescription" class="form-label fw-bold">Your introduction</label>
  <textarea class="form-control" id="courseDescription" name="courseDescription" placeholder="介紹你的課程"
    rows="5">{{teacher.courseDescription}}</textarea>
</div>
<div class="mb-3">
  <label for="teachingMethod" class="form-label fw-bold">Your Teaching Style</label>
  <textarea class="form-control" id="teachingMethod" name="teachingMethod" placeholder="介紹你的教學方式"
    rows="5">{{teacher.teachingMethod}}</textarea>
</div>
<div class="mb-3">
  <label for="lessonDuration" class="form-label fw-bold">單堂課程時間 (分鐘)</label>
  <select class="form-select" aria-label="Default select example" id="lessonDuration" name="lessonDuration">
    {{#if teacher.lessonDuration}}
    <option value="{{teacher.lessonDuration}}">{{teacher.lessonDuration}}分鐘</option>
    {{else}}
    <option selected disabled>請選擇時間</option>
    {{/if}}
    <option value="30">30分鐘</option>
    <option value="60">60分鐘</option>
  </select>
</div>
<div class="mb-3">
  <label for="videoLink" class="form-label fw-bold">課程視訊連結</label>
  <input type="text" class="form-control" id="videoLink" name="videoLink" value="{{teacher.videoLink}}"
    placeholder="介紹你的教學方式" required />
  <div class="invalid-feedback">
    請介紹你的教學方式
  </div>
</div>
<div class="mb-3">
  <label class="form-label fw-bold">開放預約
    {{#if teacher.availableDays}}
    <span class="text-danger">(已預約的課程不可再更改時間)</span>
    {{/if}}
  </label>
  <div class="fw-bold d-flex flex-wrap gap-3 gap-md-5">
    {{#each indexWeekdays}}
    <div class="form-check">
      <input class="form-check-input border border-3 border-primary" type="checkbox" value="{{this.index}}"
        name="availableDays" {{#ifIncludes ../teacher.availableDays this.index}}checked{{/ifIncludes}}>
      <label class="form-check-label" for="flexCheckDefault">
        {{this.day}}
      </label>
    </div>
    {{/each}}
  </div>
</div>