<div class="container mt-5">
  <h4 class="fw-bold mb-3">修改個人資料頁面</h4>

  <form action="/users/:id" class="">
    <div class="mb-3 col-md-3">
      <label for="name" class="form-label fw-bold">Name</label>
      <input type="text" class="form-control " id="name" placeholder="Name" value="{{user.name}}">
    </div>
    <div class="mb-3 col-md-3">
      <label for="nation" class="form-label fw-bold">Nation</label>
      <input type="text" class="form-control" id="Nation" placeholder="Nation" value="{{user.nation}}">
    </div>
    <div class="mb-3 col-md-3">
      <label for="avatar" class="form-label fw-bold">Avatar</label>
      <input type="file" class="form-control" id="avatar"  value="{{user.avatar}}">
    </div>
    <div class="mb-3 col-md-8">
      <label for="introduction" class="form-label fw-bold">Introduction</label>
      <textarea class="form-control" id="introduction" rows="3">{{user.introduction}}</textarea>
    </div>
    <div class="col-md-8 d-flex gap-3">
      <a class="btn btn-outline-secondary" href="/users/{{user.id}}">back</a>
      <button class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>